<div class="col-md-12">
    
    <div class="card">
      <div class="card-header">
        <strong>Ajouter</strong> un certificat
      </div>
      <div class="card-body">
        <form action="" method="post">
          <div class="form-group">
            <label for="nf-email">Certificat</label>
            <input type="text" id="nf-email" name="nf-email" class="form-control" placeholder="Enter le Nom.." >     
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Envoyer</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Annuler</button>
      </div>
    </div>
</div><!--/.col-->
